<footer class="footer container w-100 py-4" >
  <a class="navbar-brand" href="https://iisc.ac.in">
    <img src="https://ultra-pluto-7f6d1.stackbit.app/images/IISc_Master_Seal_Black.jpg" width="50px">
    Indian Institute of Science
  </a>
  <div class="row">
    <ul class="col-6 text-start row">
      <a class="link-dark col-12  " aria-current="page" routerLink="/">HOME</a>
      <a class="link-dark col-12 " aria-current="page" routerLink="/career">CAREER</a>
      <a class="link-dark col-12  " aria-current="page" routerLink="/blog">BLOG</a>
      <a class="link-dark col-12  " aria-current="page" href="https://icwar.iisc.ac.in/" target="_blank">ICWAR WEBPAGE</a>
    </ul>
    <ul class="col-6 text-start row">
      <i class="fa fa-2x fa-twitter col" aria-hidden="true"></i>
      <i class="fa fa-2x fa-github col" aria-hidden="true"></i>
      <i class="fa fa-2x fa-linkedin col" aria-hidden="true"></i>
      <div class="col-12">
        +91 (0)80 22932870

        <a href="mail-to:bramha@iisc.ac.in">bramha&#64;iisc.ac.in</a>

        CV Raman Road, Bangalore, India
      </div>
    </ul>
  </div>
  <hr class="w-100">
</footer>
