<footer class="footer container-fluid p-lg-4 p-2" >
  <div class="row">
    <a class="col-12 text-decoration-none font-poppins m-1 text-dark" style="font-size: 24px;" href="https://iisc.ac.in">
      <img src="./assets/images/logoAndBanner/IISc_Master_Seal_Black.jpg" width="50px">
      Indian Institute of Science
    </a>
    <div class="col-lg-6 col-12">
      <ul class="row">
        <a class="link-dark text-decoration-none font-noto-sans  col-12 my-lg-3 my-2   " aria-current="page" routerLink="/">HOME</a>
        <a class="link-dark text-decoration-none font-noto-sans  col-12 my-lg-3 my-2  " aria-current="page" routerLink="/career">CAREER</a>
        <a class="link-dark text-decoration-none font-noto-sans  col-12 my-lg-3 my-2   " aria-current="page" routerLink="/blogs">BLOG</a>
        <a class="link-dark text-decoration-none font-noto-sans  col-12 my-lg-3 my-2   " aria-current="page" href="https://icwar.iisc.ac.in/" target="_blank">ICWAR WEBPAGE</a>
      </ul>
    </div>
    <div class="col-lg-6 col-12 ">
      <ul class="row text-lg-end ">
        <div class="row col-12 my-lg-3 my-2 align-items-lg-end d-lg-flex justify-content-lg-end" style="float: right;">
          <a class="link-dark text-decoration-none col-1 " href="https://twitter.com/Bramha_tweets"><i class="fa fa-2x fa-twitter " aria-hidden="true"></i></a>
          <a class="link-dark text-decoration-none col-1 m-lg-0 mx-5" href="https://github.com/WhythiskolaveriD"><i class="fa fa-2x fa-github " aria-hidden="true"></i></a>
          <a class="link-dark text-decoration-none col-1" href="https://www.linkedin.com/in/bramha-dutt-vishwakarma-5b854826/"><i class="fa fa-2x fa-linkedin " aria-hidden="true"></i></a>
        </div>
        <span class="col-12 my-lg-3 my-2 ">
          +91 (0)80 22932870
        </span>
        <a class="col-12 my-lg-3 my-2 text-dark text-decoration-none font-noto-sans  " href="mail-to:bramha@iisc.ac.in">bramha&#64;iisc.ac.in</a>
        <p class="col-12 my-lg-3 my-2 ">CV Raman Road, Bangalore, India</p>
      </ul>
    </div>
    </div>
    <hr class="w-100 ">
<p class="text-dark font-noto-sans">
  Copyright: Bramha Dutt Vishwakarma.
</p>
</footer>
