<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 px-4 container-fluid">

  <div class="container align-items-center align-content-center justify-content-lg-between">

    <a class="navbar-brand font-poppins align-items-center d-flex " routerLink="/" style="word-wrap: break-words;white-space:wrap;">
      <img src="https://ultra-pluto-7f6d1.stackbit.app/images/logoGESS.jpg" width="50.48px">
      <span style="font-size: 24px;;">Geodesy for Earth system science</span>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarID"
      aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div >
      <div class="collapse navbar-collapse float-end" id="navbarID">
        <div class="navbar-nav font-noto-sans" style="font-size: 16px;gap:15px">
            <a class="nav-link underline-hover-effect active" aria-current="page" routerLink="/">HOME</a>
            <a class="nav-link underline-hover-effect " aria-current="page" routerLink="/projects">PROJECTS</a>
            <a class="nav-link underline-hover-effect " aria-current="page" routerLink="/career">CAREER</a>
            <a class="nav-link underline-hover-effect " aria-current="page" routerLink="/team">TEAM</a>
            <a class="nav-link underline-hover-effect " aria-current="page" routerLink = "/publications">PUBLICATIONS</a>
            <a class="nav-link underline-hover-effect " aria-current="page" routerLink="/blogs">BLOGS</a>
        </div>
      </div>
    </div>

  </div>

</nav>
