<div class="row container-fluid d-flex justify-content-center pb-5 align-middle align-content-center align-items-center" style="max-width: 100vw ;background-color: #282828;">

  <div class="col-12 col-lg-6 row p-5 text-white d-flex justify-content-start align-items-center">
    <h1 class="col-12 mb-3 font-poppins" style="font-size: 3.75rem;font-weight: 400;">Welcome to the webpage of GESS research group</h1>
    <a routerLink = "/team" class="font-noto-sans btn p-3 text-white col-lg-3 col-6 btn-purple">Our Team</a>
    <a routerLink="/publications" class="btn col-lg-3 col-6 offset-lg-1 bg-transparent border-0 text-white underline-hover-effect font-noto-sans before-white">PUBLICATIONS
      <i class="fa-solid fa fa-3 fa-arrow-right" style="color: white ;"></i>
    </a>
  </div>
  <div class="col-12 col-lg-6 d-flex justify-content-center ">
    <img src="./assets/images/logoAndBanner/banner.jpeg" class="homepage-image">
  </div>
</div>

<div class="w-100 d-flex justify-content-center">
  <div class="container m-lg-5 m-2 p-4" style="background-color: rgba(16,22,55);border-radius: 20px;">
    <div class="row ">
      <div class="col-lg-5 col-12 text-white">
        <h6 class="text-purple">ABOUT</h6>
        <p class="font-noto-sans" style="font-size: 18px; ">
        We are the Geodesy for Earth system science (GESS) research Group at Interdisciplinary Centre for Water Research (ICWaR) at the Indian Institute of Science (IISC). Our group is interested in using Earth observation data for monitoring and understanding the changes in the Earth system. Our core expertise is in processing and using geodetic datasets, such as GRACE, GNSS and altimetry, in tandem with other Earth observation datasets/models for mapping various surface processes that are related to climate change and human activities.
      </p>
        <br><button class="btn mt-2 p-sm-2 btn-purple" routerLink="/projects">Ongoing Projects</button>
      </div>
      <div class="col-lg-6 col-12 offset-lg-1 mt-2 mt-lg-0">
        <img src="./assets/images/logoAndBanner/SLR_illust_global_processes.png" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="text-center container">
  <h1 class="text-center font-poppins" style="overflow-wrap: break-word;line-height: 1.15;font-size: 3rem;">Curious individuals working together!</h1>
  <p>We are a group of researchers with education and training in diverse fields, working together on complex interdisciplinary problems in the field of Geodesy, water and climate.</p>
</div>

<!-- Team members -->
<div class="row justify-content-between p-5 d-flex align-items-stretch">
  <div class="col-4 card p-2 border-black border-1 " >
    <img src="./assets/images/team/bdv_snowdonia%20(2).jpg" alt="" class="img-fluid m-1">
    <h3 class="card-title font-poppins">Bramha</h3>
    <h5 class="card-title font-noto-sans">PI</h5>
  </div>
  <div class="col-special mx-1 card p-2 border-black border-1 " >
    <img src="./assets/images/team/Photo%20(1).jpg" alt="" class="img-fluid m-1">
    <h3 class="card-title font-poppins">Vivek</h3>
    <h5 class="card-title font-noto-sans">PhD student</h5>
  </div>
  <div class="col-4 card p-2 border-black border-1 ">
    <img src="./assets/images/team/Mandal-removebg-preview.jpg" alt="" class="img-fluid m-1">
    <h3 class="card-title font-poppins">Arindan</h3>
    <h5 class="card-title font-noto-sans">Postdoc</h5>
  </div>
  <div class="col-4 border-0 p-2 card">
    <img src="./assets/images/team/Image.jpeg" alt="" class="img-fluid m-1">
    <h3 class="card-title font-poppins">Vandana</h3>
    <h5 class="card-title font-noto-sans">project associate</h5>
  </div>
  <div class="col-4 border-0 p-2 card">
    <img src="./assets/images/team/Amin_Shakya-91d57738.JPG" alt="" class="img-fluid m-1">
    <h3 class="card-title font-poppins">Amin</h3>
    <h5 class="card-title font-noto-sans">senior project associate</h5>
  </div>
  <div class="col-4 border-0 p-2 card">
    <img src="./assets/images/team/balaram-a36af553.JPG" alt="" class="img-fluid m-1">
    <h3 class="card-title font-poppins">Balaram</h3>
    <h5 class="card-title font-noto-sans">PMRF (PhD student)</h5>
  </div>
</div>
<div class="container-fluid bg-transparent p-lg-5">
  <a style="font-size: 18px;" routerLink="/team" class="btn font-poppins text-dark bg-transparent border border-3 border-black">More about the team
    <i class="fa-solid fa fa-3 fa-arrow-right" style="color: rgb(1, 1, 1) ;"></i>
  </a>
</div>
<!--  -->

<div class="w-100 d-flex justify-content-center">
  <div class="card m-lg-5 mt-2 p-4" style="background-color: rgba(40,40,40);">
    <div class="card-body row align-items-center">
      <div class="col-lg-4 col-12 text-white ">
        <h1>Latest publication</h1>
        We have recently developed a data-driven geophysical framework that employs GRACE satellite gravimetry and GPS vertical land motion data to separate present day mass changes from slow solid Earth mass changes due to visco-elastic response of the Earth to glacial cycles. This provides us with data-driven estimate of GIA that is significantly different over Alaska and Greenland. We hope that the new GIA field will advance our understanding of the sea level budget and Greenland mass changes.
        <br><button class="btn mt-5 btn-purple">To the blog</button>
        <button routerLink="/publications" class="btn mt-5 offset-1 bg-transparent border-black-0 text-white underline-hover-effect before-white">
          To the Article <i class="fa-solid fa fa-3 fa-arrow-right" style="color: white ;"></i>
        </button>
      </div>
      <div class="col-lg-6 col-12 offset-lg-2 mt-2 mt-lg-0">
        <img src="./assets/images/logoAndBanner/ggac336fig7.jpeg" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="d-lg-flex justify-content-lg-center bg-white p-lg-5 p-2">
  <div class="card border-0 align-items-center col-lg-6 col-12">
    <span class="overflow-hidden"><img class="card-img-top" src="./assets/images/blogs/GRACE_fil_fld.png" alt="" ></span>
    <h4 class="col-12 title font-noto-sans">The spatial resolution of GRACE products</h4>
    <h6 class="col-12 font-poppins">October 17, 2021</h6><br>
  </div>
  <div class="card border-0 align-items-center col-lg-6 col-12" routerLink="/projects">
    <span class="overflow-hidden"><img class="card-img-top" src="./assets/images/blogs/Illustration_GIA_method.png" width="100%"></span>
    <h4 class="col-12 title font-noto-sans">Data-driven signal separation helps in identifying GIA signal in Alaska</h4>
    <h6 class="col-12 font-poppins">August 27, 2022</h6><br>
  </div>
</div>
<div class="container-fluid bg-transparent p-lg-5">
  <a style="font-size: 18px;" routerLink="/blogs" class="btn font-poppins text-dark bg-transparent border-black-0 underline-hover-effect">See all posts
    <i class="fa-solid fa fa-3 fa-arrow-right" style="color: rgb(1, 1, 1) ;"></i>
  </a>
</div>


<div class="container-fluid py-5 p-lg-5 text-center text-white " style="background-color: rgba(40,40,40);">
  <h1 class="font-poppins" style="font-size: 48px;">Group News</h1>
<ul class="m-5 font-noto-sans" style="text-align: justify;font-size: 18px;line-height: 1.75rem;">
  <li>We are excited to share that Dr. Arindan Mandal will visit AI4EO lab at TU Munich, Germany, as an exchange researcher under the Beyond Fellowship scheme. Huge congratulations to Arindan.</li>
  <li>Balaram Shaw has been granted the prestigeous Prime Ministers Research fellowship for his PhD. We wish him all the best.</li>
</ul>
</div>


