<div class="container-fluid w-100 bg-white">
  <h1 class="font-poppins text-center p-4" style="font-size: 60px;">Blog posts</h1>
  <div class="row justify-content-center m-3 p-4">
  @for (item of data;track item.date) {
    <div class="px-lg-5 col-12 col-lg-4 my-lg-5 my-3" style="height: fit-content;">
    <div style="overflow: hidden;">
      <img src={{item.imgSrc}} style="object-fit:cover;  height: clamp(50vh,50vh,50vh);"  class="card-img-top img-hover-zoom">
    </div>
      <div class="card-body">
        <h5 class="card-title font-poppins" style="font-size: 24px;word-wrap: break-word;">{{item.title}} </h5>
        <p class="card-text font-noto-sans" style="font-size: 16px;">{{item.date}}</p>
      </div>
    </div>
  }
</div>
</div>

