/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
// Import fonts file. Do not remove if you are not
@import 'fonts.scss';

html{
  --tw-bg-opacity: 1;
  // background-color:rgba(246,241,237,var(--tw-bg-opacity));
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Noto Sans Display,sans-serif !important;
}

body{
  background-color: rgba(246,241,237,var(--tw-bg-opacity)) !important;
}

.font-poppins{
  font-family: Poppins,sans-serif !important;
}
.font-noto-sans{
  font-family: Noto Sans Display,sans-serif !important;
}
.font-h1{
  font-size: 36px;
}
.font-h2{
  font-size: 1.86vmax !important;
  // word-wrap: break-word;
  // text-wrap: wrap;
}
.font-h3{
  font-size: 1.33vmax !important;
}
.bg-dark{
  background-color: #282828 !important;
}
.bg-navy-blue{
  background-color:#101637 !important;
  color:white !important;
}

.row{
  margin: 0 !important;
}
.text-purple{
  color: #344ff1;
}


a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
}

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #282828;
  transition: width 0.25s ease-in-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}
.before-white{
  &::before{
    background-color: white;
  }
}

.btn-purple{
  background-color: rgb(52, 79, 241) !important;
  border-radius: 0!important;
  &:hover{
    background-color: rgb(30, 50, 164) !important;
  }
  color: white !important;
}

@media(max-width:986px){
  div p, [class*="h-"] {
    text-align: justify;
  }
}
