<!-- <div class="justify-content-center row" style="max-width: 100% !important;" > -->
  <div class="text-center bg-white col-12">
    <h1 class="font-poppins" style="font-size: 60px;">Want to join us?</h1>
    <h4 class="font-noto-sans">If you are curious, motivated, and excited for doing research, you would love working with us.</h4>
  </div>
  <!-- <img src="https://ultra-pluto-7f6d1.stackbit.app/images/Promoting-Research_blog.png" alt="" class="img-fluid p-lg-5"> -->

  <div class="bg-white">
    <img style="aspect-ratio: 1/1; object-fit: cover;"   src="https://ultra-pluto-7f6d1.stackbit.app/images/Phd-requirements-india.jpeg" alt="" class="img-fluid col-lg-4 col-11">
    <img style="aspect-ratio: 1/1; object-fit: cover;"  src="https://ultra-pluto-7f6d1.stackbit.app/images/216C93DC10B7266F.jpeg" alt="" class="img-fluid col-lg-4 offset-lg-2 col-11">


    <div class="justify-content-center d-fw-100 row">
      <div class="col-12">
        <h2 class="text-left" data-sb-field-path=".title">PhD</h2>
        <h4 class="text-xl font-normal" data-sb-field-path=".title">Join Our Centre for a PhD in Engineering</h4>
        <div class="sb-markdown mt-10 lg:mt-12" data-sb-field-path=".text">
          <p>IISc only entertains PhD applicants via its admissions portal at <a href="https://admissions.iisc.ac.in/">https://admissions.iisc.ac.in/  Y</a></p>
          <p>You must fulfil all the requirements to be considered as a potential candidate. Please go through the admissions portal carefully.</p>
        </div>
        <a class="link-dark" href="https://admissions.iisc.ac.in/">
            <span>To the portal</span>
            <i class="fa fa-arrow-right fa-3x"></i>
        </a>
      </div>

      <div class="col-12">
      <h3 class="mb-10" data-sb-field-path=".title">Postdoc</h3>
      <h4 class="text-xl font-normal" data-sb-field-path=".title">Two types of fellowships for postdoctoral researchers</h4>
      <div class="sb-markdown mt-10 lg:mt-12" data-sb-field-path=".text">
          <p>We are eagerly looking for postdoctoral researchers interetsed in interdisciplinary projects concerning climate change, Geodesy, and hydrology. The institute offers two types of fellowships: IOE and CV Raman. For both these fellowships, the candidate must get in touch with a faculty member at the Institute, prepare a short research proposal and secure consent letter from the prospective advisor. Then the candidate should apply through the IISc portal: <a href="https://iisc.ac.in/post-docs/If">https://iisc.ac.in/post-docs/</a></p>
          <p>If you are interested in working with us, please get in touch with Dr.-Ing. Bramha Dutt Vishwakarma at bramha&#64;iisc.ac.in</p>
      </div>
      <a class="link-dark" href="https://iisc.ac.in/post-docs/" >
          <span>To the portal</span>
          <i class="fa fa-arrow-right fa-3x"></i>
      </a>
    </div>
      <hr class="w-100">
      </div>

      <h4 class="text-xl font-normal" data-sb-field-path=".title">Internship and research projects</h4>
      <div class="sb-markdown mt-10 lg:mt-12" data-sb-field-path=".text">
          <p>We are always looking forward to working with young and bright Masters or Bachelors students. If you are interested in doing an internship or Masters research theisis with us, please prepare a cover letter describing your motivation, research direction, and a potential research project. Send the cover letter and your CV to bramha&#64;iisc.ac.in</p>
          <p>Please note that there is no fellowship available from our side. If you have identified a fellowship that you want to apply for and need our support, then please write to us with ample time.</p>
      </div>

      <h3 class="mb-10" data-sb-field-path=".title">Project position</h3>
      <h4 class="text-xl font-normal" data-sb-field-path=".title">JRF/SRF/RA</h4>
      <div class="sb-markdown mt-10 lg:mt-12" data-sb-field-path=".text">
          <p>There are no positions available at this moment. We will update this section as soon as a position is available.</p>
      </div>

      </div>


<!-- </div> -->
