<!-- <div class="justify-content-center row" style="max-width: 100% !important;" > -->
  <div class="text-center col-12 p-lg-5 p-1">
    <h1 class="font-poppins" style="font-size: 60px;">Want to join us?</h1>
    <h5 class="font-noto-sans">If you are curious, motivated, and excited for doing research, you would love working with us.</h5>
  <img src="https://ultra-pluto-7f6d1.stackbit.app/images/Promoting-Research_blog.png" alt="" class="img-fluid p-lg-5">
  </div>

  <div class="bg-white row justify-content-center d-flex p-lg-5 p-1">
    <img style="aspect-ratio: 1/1; object-fit: cover;"   src="https://ultra-pluto-7f6d1.stackbit.app/images/Phd-requirements-india.jpeg" alt="" class="img-fluid col-lg-4 col-11">
    <img style="aspect-ratio: 1/1; object-fit: cover;"  src="https://ultra-pluto-7f6d1.stackbit.app/images/216C93DC10B7266F.jpeg" alt="" class="img-fluid col-lg-4 offset-lg-1 col-11">


    <div class="justify-content-center p-lg-5 d-flex row align-self-center w-75">

      <div class="col-12 text-start">
        <h1 class="font-poppins my-5">PhD</h1>
        <h4 class="font-poppins mb-5" >Join Our Centre for a PhD in Engineering</h4>
        <div class="font-noto-sans mb-5" >
          <p>IISc only entertains PhD applicants via its admissions portal at <a href="https://admissions.iisc.ac.in/">https://admissions.iisc.ac.in/  Y</a></p>
          <p>You must fulfil all the requirements to be considered as a potential candidate. Please go through the admissions portal carefully.</p>
        </div>
        <a class="link-dark font-poppins underline-hover-effect" href="https://admissions.iisc.ac.in/">
          <span>TO THE PORTAL </span>
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>


      <div class="col-12">
        <div class="border-end-0 border-start-0 border border-black mt-5 ">
          <h1 class="font-poppins my-5">Postdoc</h1>
          <h4 class="font-poppins mb-5" >Two types of fellowships for postdoctoral researchers</h4>
          <div class="font-noto-sans mb-5" >
              <p>We are eagerly looking for postdoctoral researchers interetsed in interdisciplinary projects concerning climate change, Geodesy, and hydrology. The institute offers two types of fellowships: IOE and CV Raman. For both these fellowships, the candidate must get in touch with a faculty member at the Institute, prepare a short research proposal and secure consent letter from the prospective advisor. Then the candidate should apply through the IISc portal: <a href="https://iisc.ac.in/post-docs/If">https://iisc.ac.in/post-docs/</a></p>
              <p>If you are interested in working with us, please get in touch with Dr.-Ing. Bramha Dutt Vishwakarma at bramha&#64;iisc.ac.in</p>
          </div>
          <a class="link-dark font-poppins underline-hover-effect" href="https://iisc.ac.in/post-docs/" >
            <span>TO THE PORTAL </span>
            <i class="fa fa-arrow-right "></i>
          </a>

        <h4 class="font-poppins my-5">Internship and research projects</h4>
        <div class="font-noto-sans mb-5">
            <p>We are always looking forward to working with young and bright Masters or Bachelors students. If you are interested in doing an internship or Masters research theisis with us, please prepare a cover letter describing your motivation, research direction, and a potential research project. Send the cover letter and your CV to bramha&#64;iisc.ac.in</p>
            <p>Please note that there is no fellowship available from our side. If you have identified a fellowship that you want to apply for and need our support, then please write to us with ample time.</p>
        </div>
        <div class="border-end-0 border-start-0 border border-black">
        <h1 class="font-poppins my-5">Project position</h1>
        <h4 class="font-poppins mb-5">JRF/SRF/RA</h4>
        <div class="font-noto-sans mb-5">
            <p>There are no positions available at this moment. We will update this section as soon as a position is available.</p>
        </div>
        </div>
      </div>


<!-- </div> -->
